{% extends 'base.html' %}
{% load static %}

{% block content %}
index
<br>
<hr>
  
  {%if reviews%}  
    <a href="{% url 'movies:create' %}">
      리뷰 추가
    </a><br>
    {% for review in reviews %}

      <a href="{% url 'movies:detail' review.pk %}">{{ review.title }}</a>

      {% comment %} <img src="{% static 'movies/review.movie_name' %}" alt=""> {% endcomment %}
      
      <img src="{{ {{ review.movie_name }} }}" alt="">
      
      <br>
    {% endfor %}
    {%endif%}

    {% if search_movie %}
      {% for q in search_movie %}
        {{q.title}}

      {% endfor %}
    {% endif %}
  {% endblock %}
